*{
    margin: 10;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    text-align: center;
}
#taches{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tache{
    list-style: none;
    display: flex;
    border-radius: 10px;
    width: 50vw;
    padding: 10px 20px 10px 5px;
    margin: 5px;
    font-size: 150%;
    background-color: rgba(44, 206, 251, 0.709);
}

.cochee .libelle{
    text-decoration: line-through black 2px;
}

button{
    border: none;
    text-decoration: none;
    background-color: inherit;
    font-size: 80%;
    padding: 0px 20px;
}



form{
    display: flex;
}


.explosion-gif {
    position: absolute;
    width: 80vw; /* Taille du GIF */
    height: 120px;
    top: 50%; /* Centrer verticalement */
    left: 30%; /* Centrer horizontalement */
    transform: translate(-50%, -50%); /* Ajustement pour centrer parfaitement */
    z-index: 10; /* Assure que le GIF est au-dessus */
    pointer-events: none; /* Empêche les interactions */
}